{%- assign home = '/' | relative_url -%}
<header class="site-nav" data-nav>
  <div class="container site-nav__inner">
    <a class="brand" href="{{ home }}#top">
      <img src="{{ '/assets/img/brand/medallion-128.webp' | relative_url }}?v={{ site.time | date: '%s' }}" alt="" width="44" height="44">
      <span class="brand__text">Longhorn Life Sciences</span>
    </a>
    <button class="site-nav__toggle" type="button" aria-expanded="false" aria-controls="site-nav-menu" data-nav-toggle>
      <span class="visually-hidden">Menu</span>
      <span class="site-nav__bars" aria-hidden="true"></span>
    </button>
    <nav class="site-nav__menu" id="site-nav-menu" aria-label="Primary">
      <ul>
        {%- for link in site.data.navigation %}
        <li><a {% if link.cta %}class="btn btn--marine" {% endif %}href="{{ home }}#{{ link.section }}">{{ link.title }}</a></li>
        {%- endfor %}
      </ul>
    </nav>
  </div>
</header>
