<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Video Test</title>
  <style>
    .video-container {
      display: flex;
      justify-content: center;
      align-items: center;
      margin: 0 auto;
      padding: 20px;
    }
  </style>
</head>
<section class="page-section" id="{{ site.data.sitetext[site.locale].video.section | default: "video" }}">
    <div class="container">
      <div class="row">
	<div class="col-lg-12 text-center">
	  <h2 class="section-heading text-uppercase">{{ site.data.sitetext[site.locale].video.title | markdownify | default: "video" }}</h2>
	  <h3 class="section-subheading text-muted">{{ site.data.sitetext[site.locale].video.text | default: "video"}}</h3>
	</div>
      </div>
</section>
<div class="video-container">
	<video width="70%" controls>
		<!--<source src="assets/videos/Longhorn_LifeSciences_Amerra_Animation_FINAL.mp4" type="video/mp4">-->
		<source src="{{ '/assets/vid/LLS_intro_vid.mp4' | relative_url }}" type="video/mp4">
	</video>
</div>
</html>
